.container{
    width: 80%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    color:red;
    padding-top:40px;
    h1{
        font-size: 50px;
        text-align: center;
    }
}
#cardContainer{
    width: 100%;
    margin: 0 auto;
    .card{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span{
            font-size: 24px;
            padding: 24px 0; 
        }
        img{
            width: 500px;
            object-fit: cover;
            padding-bottom: 40px;
        }
    }
}
